/* Estilo específico para o jogo */

.capa-do-jogo{
    width: 443px;
    height: 700px;
    position: relative;
    background: url('/static/img/capa-do-jogo.jpg') no-repeat top left scroll transparent;
    margin: 0 auto;
}

.botao-entrar {
    background-color: #FFFFFF;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05));
    background-image: linear-gradient(to top, rgba(0,0,0,.05), rgba(255,255,255,.05));
    border: 1px solid #E5E5E5;
    border-radius: 3px 3px 3px 3px;
    bottom: 312px;
    color: #EC1D14;
    display: inline-block;
    font-family: "Decker Bold";
    font-size: 24px;
    height: auto;
    left: 130px;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}

.cenario{
    display: block;
    width: 1000000px;
    position: relative;
    left: 0px;
    z-index: 1;
}

.sala{
    display: block;
    float: left;
    width: 900px;
    height: 654px;
    position: relative;
    background: url('/static/img/sala1.jpg') no-repeat top left scroll transparent;
}

.sala-1,
.resultados-fundo-1,
.sala-5,
.resultados-fundo-5,
{
    background: url('/static/img/sala1.jpg') no-repeat top left scroll transparent;
}

.sala-2,
.resultados-fundo-2,
.sala-3,
.resultados-fundo-3 {
    background: url('/static/img/sala2.jpg') no-repeat top left scroll transparent;
}

.sala-4,
.resultados-fundo-4,
.sala-7,
.resultados-fundo-7 {
    background: url('/static/img/sala4.jpg') no-repeat top left scroll transparent;
}

.sala-6,
.resultados-fundo-6 {
    background: url('/static/img/sala6.jpg') no-repeat top left scroll transparent;
}

.balao {
    background: url("/static/img/balao.png") no-repeat scroll left top transparent;
    display: block;
    height: 300px;
    left: 102px;
    position: absolute;
    top: 0px;
    width: 435px;
}

.numero-sala {
    border: 1px solid #000000;
    color: #222222;
    display: block;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    right: 79px;
    top: 96px;
}

.veterana{
    display: block;
    height: 400px;
    left: 122px;
    position: absolute;
    top: 240px;
}

.veterana1 {
    background: url("/static/img/veterana1.png") no-repeat scroll left top transparent;
    width: 128px;
}

.veterana2 {
    background: url("/static/img/veterana2.png") no-repeat scroll left top transparent;
    width: 119px;
}

.veterana3 {
    background: url("/static/img/veterana3.png") no-repeat scroll left top transparent;
    width: 116px;
}

.veterana4 {
    background: url("/static/img/veterana4.png") no-repeat scroll left top transparent;
    width: 145px;
}

.veterana5 {
    background: url("/static/img/veterana5.png") no-repeat scroll left top transparent;
    width: 128px;
}

.veterana6 {
    background: url("/static/img/veterana6.png") no-repeat scroll left top transparent;
    width: 146px;
}

.veterana7 {
    background: url("/static/img/jedi.png") no-repeat scroll left top transparent;
    left: 55px;
    top: 256px;
    width: 221px;
}

.figura{
    display: block;
    position: absolute;
    right: 200px;
    top: 372px;
}

.amarelinha {
    background: url("/static/img/amarelinha.png") no-repeat scroll left top transparent;
    height: 250px;
    top: 544px;
    width: 270px;
}

.mesa-sinuca {
    background: url("/static/img/mesa-sinuca.png") no-repeat scroll left top transparent;
    height: 350px;
    width: 349px;
}

.mesa-bebida {
    background: url("/static/img/mesa-bebida.png") no-repeat scroll left top transparent;
    height: 300px;
    width: 159px;
    top: 350px;
}

.mesa-bolinha-gude {
    background: url("/static/img/mesa-bolinha-gude.png") no-repeat scroll left top transparent;
    height: 350px;
    right: 220px;
    top: 395px;
    width: 386px;
}

.mesa-ping-pong {
    background: url("/static/img/mesa-ping-pong.png") no-repeat scroll left top transparent;
    width: 299px;
    height: 183px;
    top: 466px;
}

.mesa-toto{
    background: url("/static/img/mesa-toto.png") no-repeat scroll left top transparent;
    height: 350px;
    width: 421px;
}

.fala {
    color: #333333;
    display: block;
    font-size: 16px;
    height: auto;
    left: 74px;
    position: absolute;
    top: 18px;
    width: 300px;
}

.desafio{
    top: 28px;
}

.opcoes li {
    font-size: 14px;
    list-style: none outside none;
}

.continuar{
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.continuar:hover,
.continuar:active{
    color: #555;
}

.linha{
    display: inline-block;
    width: 100%;
    margin: 5px 0 0 0;
}
