/* Estilo específico para o jogo */

.cenario{
    display: block;
    width: 1000000px;
    position: relative;
    left: 0px;
    z-index: 1;
}

.sala{
    display: block;
    float: left;
    width: 900px;
    height: 654px;
    position: relative;
    background: url('/static/img/sala.jpg') no-repeat top left scroll transparent;
}

.balao {
    background: url("/static/img/balao.png") no-repeat scroll left top transparent;
    display: block;
    height: 300px;
    left: 102px;
    position: absolute;
    top: 0px;
    width: 435px;
}

.numero-sala {
    border: 1px solid #000000;
    color: #222222;
    display: block;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    right: 79px;
    top: 96px;
}

.veterana{
    display: block;
    height: 400px;
    left: 122px;
    position: absolute;
    top: 240px;
}

.veterana1 {
    background: url("/static/img/veterana1.png") no-repeat scroll left top transparent;
    width: 128px;
}

.veterana2 {
    background: url("/static/img/veterana2.png") no-repeat scroll left top transparent;
    width: 119px;
}

.veterana3 {
    background: url("/static/img/veterana3.png") no-repeat scroll left top transparent;
    width: 116px;
}

.veterana4 {
    background: url("/static/img/veterana4.png") no-repeat scroll left top transparent;
    width: 119px;
}

.veterana5 {
    background: url("/static/img/veterana5.png") no-repeat scroll left top transparent;
    width: 116px;
}

.veterana6 {
    background: url("/static/img/veterana6.png") no-repeat scroll left top transparent;
    width: 128px;
}

.fala {
    color: #333333;
    display: block;
    font-size: 16px;
    height: auto;
    left: 74px;
    position: absolute;
    top: 18px;
    width: 300px;
}

.desafio{
    top: 28px;
}

.opcoes li {
    font-size: 14px;
    list-style: none outside none;
}

.continuar{
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.continuar:hover,
.continuar:active{
    color: #555;
}

.linha{
    display: inline-block;
    width: 100%;
    margin: 5px 0 0 0;
}
