{% extends "master.html" %}

{% block title %}Trote Game - Jogue contra os veteranos{% endblock %}

{% block css %}<link href='/static/css/index.css' rel='stylesheet' type='text/css' xmlns="http://www.w3.org/1999/html">{% endblock %}

{% block content %}
<ul class="cenario">
    <li class="sala_inicial">sala_inicial</li>
    <li class="sala_1">sala_1</li>
    <li class="sala_2">sala_2</li>
</ul>
{% endblock %}

{% block js %}<script type="text/javascript" src="/static/js/index.js"></script>{% endblock %}
