{% extends "master.html" %}
{% import 'sala.html' as sala %}

{% block title %}Trote Game - Jogue contra os veteranos{% endblock %}

{% block css %}<link href='/static/css/index.css' rel='stylesheet' type='text/css' xmlns="http://www.w3.org/1999/html">{% endblock %}

{% block content %}
{% if not jogar_de_novo %}
<div id="capa-do-jogo" class="capa-do-jogo">
    <a href="#" id="botao-entrar" class="botao-entrar">Jogar!</a>
</div>
{% endif %}
<ul id="cenario" class="cenario{% if not jogar_de_novo %} hidden{% endif %}">
    {{ sala.sala_template(1, textos[1], desafios[1], opcoes[1], resultados[1], resultados_ids) }}
    {{ sala.sala_template(2, textos[2], desafios[2], opcoes[2], resultados[2], resultados_ids) }}
    {{ sala.sala_template(3, textos[3], desafios[3], opcoes[3], resultados[3], resultados_ids) }}
    {{ sala.sala_template(4, textos[4], desafios[4], opcoes[4], resultados[4], resultados_ids) }}
    {{ sala.sala_template(5, textos[5], desafios[5], opcoes[5], resultados[5], resultados_ids) }}
    {{ sala.sala_template(6, textos[6], desafios[6], opcoes[6], resultados[6], resultados_ids) }}
    {{ sala.sala_template(7, textos[7], desafios[7], opcoes[7], resultados[7], resultados_ids) }}
</ul>
{% endblock %}

{% block js %}<script type="text/javascript" src="/static/js/index.js"></script>{% endblock %}
