{% extends "master.html" %}
{% import 'sala.html' as sala %}

{% block title %}Trote Game - Jogue contra os veteranos{% endblock %}

{% block css %}<link href='/static/css/index.css' rel='stylesheet' type='text/css' xmlns="http://www.w3.org/1999/html">{% endblock %}

{% block content %}
<ul class="cenario">
    {{ sala.sala_template(1, textos[1], desafios[1], opcoes[1], resultados[1], resultados_ids) }}
    {{ sala.sala_template(2, textos[1], desafios[1], opcoes[1], resultados[1], resultados_ids) }}
    {{ sala.sala_template(3, textos[1], desafios[1], opcoes[1], resultados[1], resultados_ids) }}
    {{ sala.sala_template(4, textos[1], desafios[1], opcoes[1], resultados[1], resultados_ids) }}
    {{ sala.sala_template(5, textos[1], desafios[1], opcoes[1], resultados[1], resultados_ids) }}
    {{ sala.sala_template(6, textos[1], desafios[1], opcoes[1], resultados[1], resultados_ids) }}
</ul>
{% endblock %}

{% block js %}<script type="text/javascript" src="/static/js/index.js"></script>{% endblock %}
