<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link href='/static/css/normalize.css' rel='stylesheet' type='text/css'>
        <link href='/static/css/styles.css' rel='stylesheet' type='text/css'>

        {% block css %}{% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>

        {% block js_cima %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>

    {% endblock %}

</head>
<body itemscope itemtype="http://schema.org/WebPage">

    <section class="container">
        <header>
            <div id="div-logo" class="div-logo">
                <h1 class="logo" itemprop="name"><a href="/" id="logo-link" >Trote Game</a></h1>
            </div>
        </header>
        <section id="content" class="content">
            {% block content %}{% endblock %}

        </section>
        <footer>

            {% block footer %}
                <p>Qualquer sugestão ou dúvida mande email para algum dos integrantes do grupo:</p>
                <p>Ana Luisa Lucas Rosa <a class="envie-email-para" href="mailto:lu_ccblimao@gmail.com">lu_ccblimao@gmail.com</a></p>
                <p>Guilherme Heynemann Bruzzi <a class="envie-email-para" href="mailto:guibruzzi@gmail.com">guibruzzi@gmail.com</a></p>
                <p>João Augusto Marrara Marzagão <a class="envie-email-para" href="mailto:gutomarzagao@gmail.com">gutomarzagao@gmail.com</a></p>

                <span itemprop="author" itemscope itemtype="http://schema.org/Corporation">
                    <meta itemprop="name" content="Trote Game" />
               </span>
            {% endblock %}

        </footer>
    </section>

    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>

    {% block js %}{% endblock %}
</body>
