{% macro sala_template(sala_id, textos, desafio, opcoes, resultados, resultados_ids) -%}
    <li id="sala-{{ sala_id }}" data-sala="{{ sala_id }}" class="sala sala-{{ sala_id }}">
        <div class="balao">
            {% for texto in textos %}
                <p class="fala fala-{{ loop.index0 }}{% if loop.index0 > 0 %} hidden{% endif %}">
                    <span class="texto linha">{{ texto }}</span>
                    <a href="#" class="continuar linha" data-next="{% if loop.last %}desafio{% else %}fala-{{ loop.index }}{% endif %}">Continuar <span class="setinha">&raquo;</span></a>
                </p>
            {% endfor %}
            <div class="fala desafio hidden">
                <span class="texto linha">{{ desafio }}</span>
                <ul class="opcoes">
                    {% for opcao in opcoes %}
                        <li>
                            {% set opcao_id = "{{ sala_id }}-{{ loop.index0 }}" -%}
                            <input type="radio" id="opcao-{{ opcao_id }}" name="opcao-sala-{{ sala_id }}" class="opcao-sala-{{ sala_id }}" value="{{ loop.index }}" >
                            <label for="opcao-{{ opcao_id }}" class="opcao-label">{{ opcao }}</label>
                        </li>
                    {% endfor %}
                </ul>
                <a href="#" class="continuar linha" data-next="resultados-{{ sala_id }}">Continuar <span class="setinha">&raquo;</span></a>
            </div>
        </div>
        <div class="veterana veterana{{ sala_id }}"></div>
        <p class="numero-sala">Você está na sala {% if sala_id == 7 %}4{% else %}{{ sala_id }}{% endif %}</p>
    </li>
    {% for resultado_id in resultados_ids %}
    {% set resultado = resultados[resultado_id] -%}
    <li id="resultados-{{ sala_id }}-{{ resultado_id }}" class="sala resultados-fundo-{{ sala_id }} resultados-{{ sala_id }}-{{ resultado_id }} hidden">
        <div class="balao">
            {% for texto in resultados[resultado_id]["textos"] %}
            <p class="fala resultado-{{ sala_id }}-{{ loop.index0 }}{% if loop.index0 > 0 %} hidden{% endif %}">
                <span class="texto linha">{{ texto }}</span>
                {% if loop.last %}
                    {% if resultado["tipo"] == "passou" %}
                    <a href="#" class="continuar linha" data-next="sala-{{ resultado["sala"] }}">Continuar <span class="setinha">&raquo;</span></a>
                    {% elif resultado["tipo"] == "perdeu" %}
                    <a href="/?jogar-de-novo=true" class="continuar linha" data-next="perdeu">Você perdeu! :( Jogar novamente?</a>
                    {% else %}
                    <a href="/?jogar-de-novo=true" class="continuar linha" data-next="venceu">Parabéns, você ganhou! :) Jogar novamente?</a>
                    {% endif %}
                {% else %}
                    <a href="#" class="continuar linha" data-next="resultado-{{ sala_id }}-{{ loop.index }}">Continuar <span class="setinha">&raquo;</span></a>
                {% endif %}
            </p>
            {% endfor %}
        </div>
        <div class="veterana veterana{{ sala_id }}"></div>
        {% if resultado['figura'] %}
        <div class="figura {{ resultado['figura'] }}"></div>
        {% endif %}
        <p class="numero-sala">Você está na sala {% if sala_id == 7 %}4{% else %}{{ sala_id }}{% endif %}</p>
    </li>
    {% endfor %}

{%- endmacro %}